.rbc-toolbar {
    all: unset;
}
.rbc-btn-group{
    flex-direction: unset;
}
.rbc-event{
    border: 1px solid transparent!important;
    border-radius: 2px!important;
    box-shadow: 1px 1px 1px lightgrey;
    align-items: center;
    justify-content: center;
}
.rbc-day-slot{
    background-color: white!important;
}
.rbc-time-content{
    flex-direction: row;
}
.rbc-event-content{
    display: flex;
    font-size: 10px;
    justify-content: center;
}
.rbc-now{
    display: block!important;
    flex-direction: unset;
}
.rbc-date-cell{
    display: block!important;
    flex-direction: unset;
}
.rbc-date-current{
    display: block!important;
    flex-direction: unset;
}
.rbc-row-segment{
    margin-top: 5px;
}

